div.com-rigsomelight-rendered-edn {
		display: block;
}
div.com-rigsomelight-rendered-edn span.collection {
		display: flex;
}

div.com-rigsomelight-rendered-edn span.opener {
		flex-shrink: 0;
		margin: 0 4px;
		display: flex;
		color: #999;
}
div.com-rigsomelight-rendered-edn span.closer {
		display: flex;
		flex-direction: column-reverse;
		color: #999;
}
div.com-rigsomelight-rendered-edn span.keyval {
		display: flex;
		flex-wrap: wrap;
}
span.keyword {
		flex-shrink: 0;
		color: #a94442;
		margin: 0px 3px;
}
span.literal {
		color: #80ba5d;
}

